body {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #fff;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    /*opacity: 1;*/ /* когда подвяжу под клик - исправить на 0 или оставить диспл нан*/
    display: none;
}
.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal-window {
    position: relative;
    width: 500px;
    margin: 30px auto;
}

.modal-content {
    position: relative;
    margin-top: 200px;
    display: flex;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-content {
    animation-name: animate;
    animation-duration: 0.5s
}

@keyframes animate {
    from {top:-320px; opacity:0}
    to {top:0; opacity:1}
}

.modal-title {
    padding: 30px 0 30px 30px;
    font-weight: 400;
}

.close {
    float: right;
    padding-left: 25px;
    padding-top: 10px;
    font-size: 24px;
    font-weight: 700;
    color: #000;
    opacity: 0.5;
    text-decoration: none;
}

.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
}
